<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div ncy-breadcrumb></div>
            <div class="well-content">
                <div class="page-header">
                    <h3>Create User</h3>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div><sup class="req">*</sup><span class="req"> Tidak boleh kosong</span>
                        </div>
                        <div class="clearfix"></div>
                        <form class="form" name="form" ng-submit="submit(form)" novalidate>
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td style="width: 30%;">
                                            <label>Username <sup class="req">*</sup></label>
                                        </td>
                                        <td>
                                            <input type="text" name="email" class="input-control" ng-model="user.email" ng-minlength="3" required />
                                        </td>
                                        <td class="has-error" style="width: 30%;">
                                            <p class="help-block" style="margin: 0;" ng-show="(form.email.$error.minlength || form.email.$error.required) && (form.email.$dirty || submitted)">
                                                Username harus lebih dari 3 karakter
                                            </p>
                                            <p class="help-block" style="margin: 0;" ng-show="error">{{error}}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Password <sup class="req">*</sup></label>
                                        </td>
                                        <td>
                                            <input type="password" name="password" class="input-control" ng-model="user.password" mongoose-error ng-minlength="3" required />
                                        </td>
                                        <td class="has-error">
                                            <p class="help-block" style="margin: 0;" ng-show="form.password.$error.mongoose">
                                                {{errors.password}}
                                            </p>
                                            <p class="help-block" style="margin: 0;" ng-show="(form.password.$error.minlength || form.password.$error.required) && (form.password.$dirty || submitted)">
                                                Password harus lebih dari 3 karakter
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Role <sup class="req">*</sup>
                                            </label>
                                        </td>
                                        <td>
                                            <ui-select name="role" ng-model="role.selected" theme="select2" required>
                                                <ui-select-match>{{$select.selected.str}}</ui-select-match>
                                                <ui-select-choices repeat="role in roles | filter: {str: $select.search} | orderBy:'str'">
                                                    <div ng-bind-html="role.str | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </td>
                                        <td class="has-error">
                                            <p class="help-block" style="margin: 0;" ng-show="form.role.$error.required && submitted">
                                                Tidak boleh kosong
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <button class="tmb" type="submit">Create</button>
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div ng-include="'components/sidebar/sidebar.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
