<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div ncy-breadcrumb></div>
            <div class="well-content">
                <div class="page-header">
                    <h3 style="display: inline;">Detail Resep Umum</h3> <a ui-sref="stok.resepumum.edit({id: id, lid:lid})" class="pull-right" style="margin-top: 8px;" title="Edit">Edit</a>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="width: 30%;">Tanggal</td>
                                    <td colspan="2">{{data.tanggal|amDateFormat:'dddd, DD MMMM YYYY'}}</td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="width: 30%;">Nama Pasien</td>
                                    <td colspan="2">{{data.nama}}</td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="width: 30%;">Umur</td>
                                    <td colspan="2">{{data.umur}} {{data.satuanumur}}</td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="width: 30%;">Jenis Kelamin</td>
                                    <td colspan="2">{{data.jeniskelamin}}</td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="width: 30%;">Nama Dokter</td>
                                    <td colspan="2">{{data.dokter}}</td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="width: 30%;">Gambar Resep</td>
                                    <td colspan="2">
                                        <a href="" ng-click="imgmodal(blobUrl)" ng-show="blobUrl">
                                            <img ng-src="{{blobUrl}}" class="thumb" title="{{data.imagename}}" style="max-width: 150px;">
                                        </a>
                                        <img src="/assets/images/noimage.jpg" class="thumb" title="noimage.jpg" ng-hide="blobUrl" style="max-width: 150px;">
                                    </td>
                                    <td style="width: 30%;"></td>
                                </tr>
                                <tr ng-repeat="item in data.items | orderBy:'obat'">
                                    <td colspan="2" style="width: 30%;">
                                    </td>
                                    <td colspan="2">
                                        <table class="table table-condensed">
                                            <tr>
                                                <td>{{$index+1}}.</td>
                                                <td style="width: 25%;">Nama Obat</td>
                                                <td>:</td>
                                                <td>{{item.obat}}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td style="width: 25%;">Keterangan</td>
                                                <td>:</td>
                                                <td>{{item.keterangan}}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td style="width: 25%;">Jumlah</td>
                                                <td>:</td>
                                                <td>{{item.jumlah}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width: 30%;"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div ng-include="'components/sidebar/sidebar.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
