<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div ncy-breadcrumb></div>
            <div class="well-content">
                <div class="page-header">
                    <h3 style="display: inline;">Daftar Rekap BPJS &amp; Umum </h3> <a ui-sref="stok.createrekap" class="pull-right" style="margin-top: 8px;" title="Tambah">Tambah</a>
                </div>
                <div class="row" style="margin-bottom: 50px;">
                    <div class="col-xs-12">
                        <table>
                            <tr>
                                <td>Bulan</td>
                                <td>Tahun</td>
                            </tr>
                            <tr>
                                <td style="width: 220px;">
                                    <ui-select name="b" style="width: 200px;" ng-model="b.selected" ng-change="get(b.selected, t.selected)" theme="select2">
                                        <ui-select-match>{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="b in bulans | filter: $select.search">
                                            <div ng-bind-html="b | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td style="width: 110px;">
                                    <ui-select name="t" style="width: 100px;" ng-model="t.selected" ng-change="get(b.selected, t.selected)" theme="select2">
                                        <ui-select-match>{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="t in tahuns | filter: $select.search">
                                            <div ng-bind-html="t | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td ng-show="result.length>0">
                                    <a href="" ng-click="popup(b.selected, t.selected)">Cetak</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info" ng-hide="result.length>0">Tidak ada data</div>
                        <div ng-show="result.length>0">
                            <table class="table table-condensed table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th>Nama Obat</th>
                                        <th class="text-center">Pindahan</th>
                                        <th class="text-center">Masuk</th>
                                        <th class="text-center">Keluar</th>
                                        <th class="text-center">Sisa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="r in result">
                                        <td class="text-center" style="width: 5%;">{{$index+1}}</td>
                                        <td>{{r.obat}}</td>
                                        <td style="width: 10%;" class="text-right">{{r.pindahan}}</td>
                                        <td style="width: 10%;" class="text-right">{{r.masuk}}</td>
                                        <td style="width: 10%;" class="text-right">{{r.keluar}}</td>
                                        <td style="width: 10%;" class="text-right">{{r.pindahan+r.masuk-r.keluar}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div ng-include="'components/sidebar/sidebar.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
