<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div ncy-breadcrumb></div>
            <div class="well-content">
                <div class="page-header">
                    <h3>Laporan ISPA Pneumonia &lt; 5 Tahun</h3>
                </div>
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-xs-12">
                        <table class="pull-left">
                            <tr>
                                <td>Bulan</td>
                                <td>Tahun</td>
                            </tr>
                            <tr>
                                <td style="width: 210px;">
                                    <ui-select name="b" style="width: 200px;" ng-model="b.selected" ng-change="get(b.selected, t.selected)" theme="select2">
                                        <ui-select-match>{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="b in bulans | filter: $select.search">
                                            <div ng-bind-html="b | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <ui-select name="t" style="width: 100px;" ng-model="t.selected" ng-change="get(b.selected, t.selected)" theme="select2">
                                        <ui-select-match>{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="t in tahuns | filter: $select.search">
                                            <div ng-bind-html="t | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                        </table>
                        <table class="pull-right">
                            <tr>
                                <td>B</td>
                                <td class="text-center" style="width: 20px;">=</td>
                                <td style="width: 80px;">Baru</td>
                                <td>L</td>
                                <td class="text-center" style="width: 20px;">=</td>
                                <td>Lama</td>
                            </tr>
                            <tr>
                                <td class="bg-info" style="width: 20px;"></td>
                                <td class="text-center" style="width: 20px;">=</td>
                                <td style="width: 80px;">Laki-laki</td>
                                <td class="bg-danger" style="width: 20px;"></td>
                                <td class="text-center" style="width: 20px;">=</td>
                                <td>Perempuan</td>
                            </tr>
                        </table>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-info" ng-hide="match.length>0">Tidak ada data</div>
                        <div class="lists" ng-show="match.length>0">
                            <div class="datelist" ng-repeat-start="date in bydate">
                                <span class="fa-stack iconlist"><i class="fa fa-circle fa-stack-2x fa-inverse"></i><i class="fa fa-calendar fa-stack-1x"></i></span> {{date|amDateFormat:'DD MMMM YYYY'}}
                            </div>
                            <div class="list-group">
                                <a ui-sref="rekam.daftar.options({id: pasien.id})" ng-repeat-start="pasien in match | orderBy: 'nama'" ng-show="pasien.tanggal==date" ng-class="{'list-group-item-blue':pasien.jeniskelamin=='L','list-group-item-red':pasien.jeniskelamin=='P'}">
                                    <h4 class="list-group-item-heading">{{pasien.nama}}<span class="pull-right">{{pasien.status}}</span></h4>
                                    <p class="list-group-item-text">{{pasien.umur}} tahun</p>
                                </a>
                                <div ng-repeat-end></div>
                            </div>
                            <div ng-repeat-end ng-hide="false"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div ng-include="'components/sidebar/sidebar.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
