<div ng-controller="SidebarCtrl">
    <div ng-repeat="rekam in rekam">
        <ul ng-repeat="home in rekam.home">
            <li ui-sref-active-eq="sidebar-active"><a ui-sref="{{home.link}}" title="{{home.title}}"> {{home.title}}</a>
            </li>
        </ul>
        <ul ng-repeat="pasien in rekam.pasien">
            <li ui-sref-active="sidebar-active"><a ui-sref="{{pasien.link}}" title="{{pasien.title}}"> {{pasien.title}}</a>
            </li>
        </ul>
        <ul ng-repeat="laporan in rekam.laporan">
            <li ui-sref-active="sidebar-active"><a ui-sref="{{laporan.link}}" title="{{laporan.title}}"> {{laporan.title}}</a>
            </li>
        </ul>
        <ul ng-repeat="setting in rekam.setting">
            <li ui-sref-active="sidebar-active"><a ui-sref="{{setting.link}}" title="{{setting.title}}"> {{setting.title}}</a>
            </li>
        </ul>
        <hr ng-repeat-end style="border-top: 1px solid #c7c7c7; border-style: dotted;" />
    </div>
</div>