<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div ncy-breadcrumb></div>
            <div class="well-content">
                <div class="page-header">
                    <h3>Pie Chart {{header}}</h3>
                </div>
                <div class="row" style="margin-bottom: 50px;">
                    <div class="col-xs-12">
                        <table>
                            <tr>
                                <td>Diagnosa</td>
                                <td>Tahun</td>
                            </tr>
                            <tr>
                                <td style="width: 310px;">
                                    <ui-select name="d" style="width: 300px;" ng-model="d.selected" ng-change="get(d.selected, t.selected)" theme="select2">
                                        <ui-select-match>{{$select.selected.opsi}}</ui-select-match>
                                        <ui-select-choices repeat="d in diagnosas | filter: {opsi: $select.search}">
                                            <div ng-bind-html="d.opsi | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td style="width: 110px;">
                                    <ui-select name="t" style="width: 100px;" ng-model="t.selected" ng-change="get(d.selected, t.selected)" theme="select2">
                                        <ui-select-match>{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="t in tahuns | filter: $select.search">
                                            <div ng-bind-html="t | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td ng-show="count>0">
                                    <a href="" ng-click="popup(d.selected, t.selected)">Cetak</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="chart-container">
                            <canvas class="chart chart-pie" data="data" labels="labels" options="options">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2">
            <div ng-include="'components/sidebar/sidebar.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
