<div class="ui-grid-cell-contents ago" style="padding-top: 8px;">
    <div ng-hide="row.entity.updated"><i class="fa fa-info-circle text-info" data-title="{{row.entity.created|amDateFormat:'dddd, DD MMMM YYYY, HH:mm'}}" data-placement="bottom" bs-tooltip></i> Created &mdash;
        <span class="text-muted" am-time-ago="row.entity.created"></span> &mdash; oleh {{row.entity.by}}
    </div>
    <div ng-show="row.entity.updated"><i class="fa fa-info-circle text-info" data-title="{{row.entity.updated|amDateFormat:'dddd, DD MMMM YYYY, HH:mm'}}" data-placement="bottom" bs-tooltip></i> Updated &mdash;
        <span class="text-muted" am-time-ago="row.entity.updated"></span> &mdash; oleh {{row.entity.by}}
    </div>
</div>
